.pattern-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  margin-top: 1rem;
}

.first {
  width: 50%;
}

.fish_image {
  width: 100%;
  height: auto;
}
